

.bg {
	background-image: url("assets/images/2.jpg");
	padding: 0%;
	background-size:  100%;
	margin-top: 0px;
	text-align: center;
	padding: 5%;
}

.bg h1{
	color: white;
}
.bg small{
	color: white;
}

.bordes {
	border: 8px solid #888;
	border-radius: 20px;
	margin: 5%;
	box-sizing: border-box;
  }

 .bordes p {
 	padding: 5px
 }
.foto {
	text-align: center;
	padding-bottom: 20px;

}
.foto img {
	width: 100%;
}

.icon {
	font-size: 2em;
	text-align: center;
	border: 1px solid #ccc;
}
.f {
	background-color: #eee;
	padding: 3px;

 }